@model IEnumerable<QuanLyThuVien.Models.Sach>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_FrameLayout.cshtml";
}

<h2>Sách</h2>

<p>
    @Html.ActionLink("Thêm sách", "Create")
</p>
<div class="table-responsive div-body show-list">

    <table class="table table-hover show-list">
        <thead>
            <tr>
                <th>Tên đầu sách</th>
                <th>Tình trạng</th>
                <th>Ngày nhập</th>
                <th>Deleted</th>    
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.DauSach.TenDauSach</td>
                        <td>@item.TinhTrang</td>
                        <td>@item.NgayNhap</td>
                        <td>@item.Deleted</td>
                        <td>
                            <input class="check-page" type="hidden" value="2" />
                            @Html.ActionLink("Xem", "Details", "Saches", new { id = item.MaSach }, htmlAttributes: new { @class = "details", @at = item.MaSach })
                            @Html.ActionLink("Sửa", "Edit", "Saches", new { id = item.MaSach }, null)
                            @Html.ActionLink("Xóa", "delete", "Saches", new { id = item.MaSach }, htmlAttributes: new { @class = "link-delete", @at = "/Saches" })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
@Scripts.Render("~/Scripts/DevScript/ShowDetails.js")