@model Model.EF.Employee

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_FrameLayout.cshtml";
}

<h2>Sửa thông tin nhân viên</h2>

@using (Html.BeginForm("Edit", "Employee", FormMethod.Post,
                            new { enctype = "multipart/form-data", @class="form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="table-responsive row">
        <div class="col-sm-2" style="padding: 15px; margin: 0 auto;">
            <img src="~/Upload/Images/Employee/@Html.Raw((Model.UrlAvatar)??"user.png")" class="avatar img-center-in-div" height="100" width="100" />
            <br />
            <input type="file" name="UrlAvatar" accept="image/jpeg, image/png" onchange="ReadFile(this);" />
            <input type="hidden" value="@Model.EmployeeID" name="EmployeeID" />
        </div>
        <div class="col-sm-10">
            <table class="hover-td table table-bordered col-sm-9">
                <tbody>
                    <tr>
                        <td class="form-group">
                            <label class="control-label col-sm-3">Họ: </label>
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.FirstName, new { htmlattributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </td>
                        <td class="form-group">
                            <label class="control-label col-sm-3">Tên: </label>
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="form-group">
                            <label class="control-label col-sm-3">Ngày sinh: </label>
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.BirthDay, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.BirthDay, "", new { @class = "text-danger" })
                            </div>
                        </td>
                        <td class="form-group">
                            <label class="control-label col-sm-3">Địa chỉ: </label>
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="form-group">
                            <label class="control-label col-sm-3">Số điện thoại : </label>
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                            </div>
                        </td>
                        <td>
                            <label class="control-label col-sm-3">Giới tính : </label>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(model => model.Sex, (SelectList)ViewBag.SeListSex, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Sex, "", new { @class = "text-danger" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label col-sm-3">Giới tính : </label>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(model => model.PermissionID, (SelectList)ViewBag.Permission, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.PermissionID, "", new { @class = "text-danger" })
                            </div>
                        </td>
                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div><input class="btn btn-primary button-250" id="btn-save" type="submit" value="Lưu" /></div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
