@model Model.EF.NhanVien

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_FrameLayout.cshtml";
}

<h2>Sửa thông tin nhân viên</h2>

@using (Html.BeginForm("Edit", "NhanVien", FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        <!-- Container table create item -->
        <div class="container-fluid">
            <div class="row div-content">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td><img src="~/Upload/Images/NhanVien/@Model.UrlHinhAnh" height="100" width="80" /></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="form-group">
                                    <!-- Sửa label tại đây-->
                                    @Html.Label("Mã nhân viên", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.MaNhanVien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.MaNhanVien, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                                <td class="form-group">
                                    <!-- Sửa label tại đây-->
                                    @Html.Label("Tên nhân viên", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.TenNhanVien, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.TenNhanVien, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="form-group">
                                    <!-- Sửa label tại đây-->
                                    @Html.Label("Ngày sinh", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.NgaySinh, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                                <td class="form-group">
                                    @Html.Label("Địa chỉ", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="form-group">
                                    <!-- Sửa label tại đây-->
                                    @Html.Label("Số điện thoại", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.SoDienThoai, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.SoDienThoai, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                                <td class="form-group">
                                    <!-- Sửa label tại đây-->
                                    @Html.Label("Vai trò", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.PermissionID, (SelectList)ViewBag.Permission, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.PermissionID, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="form-group">
                                    @Html.Label("Tải Hình ảnh", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        <input class="form-control" type="file" name="UrlHinhAnh" accept="image/*" />
                                        @Html.ValidationMessageFor(model => model.UrlHinhAnh, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                                <td class="form-group"></td>
                            </tr>
                            <tr class="div-btn-ok-back">
                                <td class="form-group div-button">
                                    <input style="float:right;" , type="button" value="Làm mới" class="btn btn-default" />
                                </td>
                                <td class="form-group div-button">
                                    <input style="" type="submit" value="Lưu" class="btn btn-default" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        @Html.ActionLink("Quay lại", "Index")
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
