@model QuanLyThuVien.Models.DauSach
<table class="table table-bordered">
    <tbody>
        <tr>
            <td class="form-group">
                <label class="control-label col-md-5">Tên chuyên nghành: </label>
                <label class="control-label col-md-7">@Model.ChuyenNghanh.TenChuyenNghanh</label>
            </td>
            <td class="form-group">
                <label class="control-label col-md-5">Tên đầu sách: </label>
                <label class="control-label col-md-7">@Model.TenDauSach</label>
            </td>
        </tr>

        <tr>
            <td class="form-group">
                <label class="control-label col-md-5">Nhà xuất bản: </label>
                <label class="control-label col-md-7">@Model.NhaXuatBan</label>
            </td>
            <td>
                <label class="control-label col-md-5">Số trang: </label>
                <label class="control-label col-md-7">@Model.SoTrang</label>
            </td>
        </tr>
        <tr>
            <td class="form-group">
                <label class="control-label col-md-5">Kích thước: </label>
                <label class="control-label col-md-7">@Model.KichThuoc</label>
            </td>
            <td class="form-group">
                <label class="control-label col-md-5">Tác giả </label>
                <label class="control-label col-md-7">@Model.TacGia</label>
            </td>
        </tr>

        <tr>
            <td class="form-group">
                <label class="control-label col-md-5">Số lượng: </label>
                <label class="control-label col-md-7">@Model.SoLuongSach</label>
            </td>
            <td>
                <label class="control-label col-md-5">Delete: </label>
                <label class="control-label col-md-7">@Model.Deleted</label>
            </td>
        </tr>
    </tbody>
</table>