@model IEnumerable<QuanLyThuVien.Models.DauSach>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_FrameLayout.cshtml";
}

<h2>Danh sách các đầu sách</h2>

<p>
    @Html.ActionLink("Tạo đầu sách mới", "Create")
</p>
<div class="table-responsive div-body show-list">

    <table class="table table-hover show-list">
        <thead>
            <tr>
                <th>Tên chuyên nghành</th>
                <th>Tên đầu sách</th>
                <th>Nhà xuát bản</th>
                <th>Số trang</th>
                <th>Kích thước</th>
                <th>Tác giả</th>
                <th>Số lượng sách</th>
                <th>Deleted</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
            <tr>
                <td>@item.ChuyenNghanh.TenChuyenNghanh</td>
                <td>@item.TenDauSach</td>
                <td>@item.NhaXuatBan</td>
                <td>@item.SoTrang</td>
                <td>@item.KichThuoc</td>
                <td>@item.TacGia</td>
                <td>@item.SoLuongSach</td>
                <td>@item.Deleted</td>
                <td>
                    <input class="check-page" type="hidden" value="2" />
                    @Html.ActionLink("Xem", "Details", "DauSach", new { id = item.MaDauSach }, htmlAttributes: new { @class = "details", @at = item.MaChuyenNghanh })
                    @Html.ActionLink("Sửa", "Edit", "DauSach", new { id = item.MaDauSach }, null)
                    @Html.ActionLink("Xóa", "delete", "DauSach", new { id = item.MaDauSach }, htmlAttributes: new { @class = "link-delete", @at = "/DauSaches" })
                </td>
            </tr>
                }
            }
        </tbody>
    </table>
</div>
@Scripts.Render("~/Scripts/DevScript/ShowDetails.js")
