@model QuanLyThuVien.Models.DocGia

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_FrameLayout.cshtml";
}

<h2>Xóa</h2>

<h3>Bạn thật sự muốn xóa ?</h3>
<div>
    <h4>DocGia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MSSV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MSSV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deleted)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại ", "Index")
        </div>
    }
</div>
