@model IEnumerable<QuanLyThuVien.Models.DocGia>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_FrameLayout.cshtml";
}

<h2>Độc giả</h2>

<p>
    @Html.ActionLink("Tạo thông tin độc giả", "Create")
</p>
<div class="table-responsive div-body show-list">

    <table class="table table-hover show-list">
        <thead>
            <tr>
                <th>Họ tên </th>
                <th>Lớp </th>
                <th>Ngày sinh</th>
                <th>Giới tính</th>
                <th>Mã số SV</th>
                <th>Deleted</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.HoTen</td>
                        <td>@item.Lop</td>
                        <td>@item.NgaySinh</td>
                        <td>@item.GioiTinh</td>
                        <td>@item.MSSV</td>
                        <td>@item.Deleted</td>
                        <td>
                            <input class="check-page" type="hidden" value="2" />
                            @Html.ActionLink("Xem", "Details", "DauSach", new { id = item.MaDocGia }, htmlAttributes: new { @class = "details", @at = item.MaDocGia })
                            @Html.ActionLink("Sửa", "Edit", "DauSach", new { id = item.MaDocGia }, null)
                            @Html.ActionLink("Xóa", "delete", "DauSach", new { id = item.MaDocGia }, htmlAttributes: new { @class = "link-delete", @at = "/DocGias" })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
@Scripts.Render("~/Scripts/DevScript/ShowDetails.js")
